@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0
}

h1 {
    font-size: 36px;
    text-align: left;
    color: #FFF;
    padding-top: 20px;
}

h2 {
    font-size: 24px;
    color: #EF5839;
}

.body {
    width: 100%;
    margin: 0 auto;
}

.head {
    width: 100%;
    background-color: #2E354F;
    margin: 0 auto;
    padding:7px 0px;
}

.headin {
    width: 50%;
    margin: 0 auto
}

.info {
    width: 50%;
    margin: 0 auto;
    padding:15px 0px;
}

img {
    width: 100%;
}

.sed {
    color: #EF5839;
}

.sed:hover {
    border: 2px solid black;
    color: blue;
    text-decoration: none;
}

.foot {
    background-color: #2E354F;
    color: #FFF;
    width: 100%;
    padding:5px 0px;
}

.footer {
    width: 50%;
    margin: 0 auto
}

.hetwo {
    padding-top: 10px;
}

.lorem {
    color: #EF5839;
}

.lorem:hover {
    border: 2px solid black;
    color: yellowgreen;
    text-decoration: none;
}

.contact {
    text-decoration: none;
    background-color: #EF5839;
    color: white;
    font-size: 12px;
    padding:7px 20px;
    border: 2px solid black;
}

.contact:hover {
    border: 3px dashed yellow;
    background-color: blue;
    color: lightpink;
    border-radius: 30%;
}

.more {
    text-decoration: none;
    background-color: #FFF;
    color: black;
    font-size: 12px;
    padding:7px 20px;
    border: 2px solid black;
}

.more:hover {
    border: 3px dashed lime;
    background-color: black;
    color: yellow;
    border-radius: 30%;
}